body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffecef;
  text-align: center;
  align-content: center;
  list-style-position: inside;
}

a:link {
  color: #b3a6ee;
}

a:visited {
  color: #cc0000;
}

a:hover {
  color: #e0dbf8;
}
