body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffecef;
  text-align: center;
  align-content: center;
}

a:link {
  color: #b3a6ee;
}

a:visited {
  color: #cc0000;
}

a:hover {
  color: #e0dbf8;
}

ul {
  display:inline-block;
  width: 300px;
  }
  ul li {
  text-align: left;
  }
  ol {
    display:inline-block;
    width: 500px;
    }
  ol li {
  text-align: left;
  }
